.hidden-form-element {
  display: none;
}

.view-design-phase-tasks .design-phase-task-row {
  padding: 5px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 2px;
  margin-bottom: 10px;
}

.design-phase-page .pane-main-menu ul li {
    display: inline;
    margin-right: 5px;
}

.design-phase-page .pane-main-menu ul li.active-trail {
    background: rgb(224, 224, 224);
    padding: 4px;
    border-radius: 3px;
}
