.hidden-form-element {
  display: none;
}

.view-design-phase-tasks .design-phase-task-row {
  padding: 5px;
  border-bottom: 1px solid rgb(202, 202, 202);
  border-radius: 2px;
  margin-bottom: 10px;
}

.view-design-phase-tasks .views-row-last {
  border-bottom: none;
}

.design-phase-page .pane-main-menu ul li {
    display: inline;
    margin-right: 5px;
}

.design-phase-page .pane-main-menu ul li.active-trail {
    background: rgb(189, 189, 189);
    padding: 4px;
    border-radius: 3px;
}

.node-design-phase-task .field-name-field-related-job-aids-view, .node-design-phase-task .field-name-field-related-teaching-online-vi {
    padding: 7px;
    width: 30%;
    float: right;
    background: #f6f6f2;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 2px;
}

.node-design-phase-task .field-name-field-related-teaching-online-vi {
  margin-top: 5px;
}

.node-design-phase-task .field-name-field-related-teaching-online-vi {
    clear: both;
}

.field-name-field-design-phase-task-overview .push-left {
  width: 60%;
}

.view-field-clear-none div {
  clear: none !important;
  margin-top: 0px !important;
}

.field-type-viewfield h1,
.field-type-viewfield h2,
.field-type-viewfield h3,
.field-type-viewfield h4 {
  margin-bottom: 5px;
}

.field-type-viewfield h4 {
  margin-top: 10px;
}
.field-type-viewfield h2 {
  margin-top: 5px;
}

.field-type-viewfield hr {
  border: 0px;
  border-top: 1px solid rgb(202, 202, 202);
}

/* Desgin Graphic Icons */
.field-name-field-phase-icon {
}

.design-phase-page .panel-col-first {
    width: 30% !important;
}

.design-phase-page .panel-col-last {
    width: 60% !important;
}
.field-name-field-phase-icon img {
    background: none !important;
    border: 0px !important;
}
