h1, h2, h3 {
  font-family: "Georgia", "Serif";
  font-weight: normal;
}

h1.site-name a {
  color: #ffc600 !important;
  text-shadow: 0 0 #000;
}

h2 {
  text-shadow: 0 1px rgb(250, 250, 250);
}

#content-inside {
  padding-top: 10px;
}

#content {
  min-height: 700px;
}

#header-menu li a {
  text-transform: none !important;
  color: rgb(230, 230, 230) !important;
}

#header-menu li a.active, #header-menu li a.active-trail {
  color: #ffc600 !important;
}

#header-menu a:hover {
  text-decoration: underline !important;
  color: rgb(179, 179, 179) !important;
}

a {
  color: rgb(49, 64, 141);
}

a:hover {
  text-decoration: underline;
}
