h1, h2, h3 {
  font-family: "Georgia", "Serif";
  font-weight: normal;
}

h2 {
  text-shadow: 0 1px rgb(250, 250, 250);
}

#header-menu li a.active {
  color: #ffc600 !important;
}

a {
  color: rgb(49, 64, 141);
}

a:hover {
  text-decoration: underline;
}
